[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	shallow = true
[submodule "target/zsh/fzf-tab"]
	path = target/zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
	shallow = true
[submodule "target/nvim/pack/plugins/nvim-lspconfig"]
	path = target/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
	shallow = true
